.bgContainer {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.element {
  background: linear-gradient(
    181deg,
    rgba(35, 65, 125, 1) 33%,
    rgba(143, 155, 186, 1) 83%
  );
  background-blend-mode: exclusion;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-radius: 14px;
}
@media (min-width: 767px) {
  .card {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
